:root {
    --colorTextos: #4945459a;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    background: #2C3E50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
    text-align: center;
    font-weight: 700;
}

main{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    background: #fff;
    padding: 40px 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

form {
    width: 50%;
    margin: 0;
}

.panel-derecho {
    width: 50%;
}

.resultados {
    height: 55%;
}

.aclaracion {
    height: 45%;
}

main .grupo{
    position: relative;
    margin: 35px 45px ;
}
main .grupoMontoYDias{
    position: relative;
    margin: 35px 0;
}

form input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #000000ac;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

button{
    font-family: 'roboto';
    background: #2C3E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

#reinvertirCapitalPersona {
    width: 46%;
    display: flex;
    justify-content: space-between;
}

#checkBoxReinvertirCapital {
    width: auto;
}

@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}

a {
    text-decoration: none;
    color:var(--colorTextos);
    margin: 0 47px;
}